$spacing: 5px, 10px, 15px;
$radius: 6px, 12px, 18px;


$width: 300px;
$height: 300px;
$border-radius: 8px;
$background-color: #f0f0f0;
$stroke: 2px;
$border: $stroke solid darken($background-color, 10%);
$transition-duration: 100ms;
$pipes: 4;
$pipes_width: 302px;
$pipes_height: 302px;
